h1 {
  text-align: center;
  margin: 40px 0;
}

form {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;

  label {
    font-family: 'Ubuntu Mono';
  }

  input {
    margin-bottom: 25px;
    padding: 10px 15px;
    font-size: 1.3rem;
    background-color: hsl(265, 3%, 30%);
    border-radius: 10px;
    font-family: 'Ubuntu Mono';
    border: none;

    &:focus {
      outline: 2px solid hsl(278, 100%, 50%);
    }
  }

  button[type='submit'] {
    background-color: hsl(278, 100%, 40%);
    color: white;
    font-family: 'Permanent Marker';
    font-size: 1.2rem;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition:
      background-color 0.5s ease,
      box-shadow 0.8s ease;

    &:hover {
      background-color: hsl(278, 100%, 50%);
      box-shadow: 0 0 12px hsla(278, 100%, 70%, 50%);
    }
  }

  p {
    margin: 20px auto 0 auto;

    a {
      color: goldenrod;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &#register-form {
    width: 700px;

    .form-group {
      display: flex;
      flex-direction: column;

      .help-text {
        margin-top: -18px;
        margin-bottom: 15px;
        font-size: 0.9rem;
      }
    }

    .name-group {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      div {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
