.game__page {
  .game-display {
    background-color: #353539;
    display: flex;
    gap: 20px;
    width: 60%;
    margin: 20px auto;
    padding: 40px 30px;
    border-radius: 10px;

    .game-cover-art {
      width: 400px;
    }

    .game-info {
      h1 {
        margin-bottom: 20px;
      }

      p {
        text-align: justify;
      }
    }

    .game-ratings {
      .number-rating {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: 'Ubuntu Mono';
        border: 5px solid #444447;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
        width: 80px;
      }

      .star-rating {
        font-size: 3rem;
        color: goldenrod;

        &::selection {
          background-color: white;
        }
      }

      .edit-game-button {
        background-color: #f75122;
        width: 100%;
        padding: 8px 0;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 8px;
        margin-top: 10px;
        cursor: pointer;
        transition: background-color 0.5s ease;
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: #f52f0c;
        }
      }
    }
  }
}

.edit-game__page {
  h1 {
    text-align: center;
    margin: 30px auto;
  }

  #edit-game-form {
    margin: 0 auto;
    width: 800px;

    .form-group {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-bottom: 25px;
        padding: 10px 15px;
        font-size: 1.3rem;
        background-color: hsl(265, 3%, 30%);
        border-radius: 10px;
        font-family: 'Ubuntu Mono';
        border: none;
        text-align: justify;

        &:focus {
          outline: 2px solid hsl(278, 100%, 50%);
        }
      }

      .cover-art {
        width: 200px;
        margin: 0 auto;
      }
    }

    button[type='submit'] {
      background-color: hsl(278, 100%, 40%);
      color: white;
      font-family: 'Permanent Marker';
      font-size: 1.2rem;
      padding: 5px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      width: 400px;
      margin: 0 auto;
      display: block;
      transition:
        background-color 0.5s ease,
        box-shadow 0.8s ease;

      &:hover {
        background-color: hsl(278, 100%, 50%);
        box-shadow: 0 0 12px hsla(278, 100%, 70%, 50%);
      }
    }
  }
}
