<%- include('partials/header') %>

<main class="home__page">
  <% if (user) { %>
    <h1>Welcome back to the Oasis, <%= user.first_name %>!</h1>
  <% } else { %>
    <h1>Welcome to the Oasis!</h1>
  <% } %>
  
  <div class="home-section new-review-section">
    <h2>Latest Reviews</h2>
    <div class="home-container new-review-container">
      <a href="/games/9" class="game-card new-review-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="/games/9" class="game-card new-review-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="/games/9" class="game-card new-review-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="/games/9" class="game-card new-review-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="/games/9" class="game-card new-review-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
    </div>
  </div>
  
  <div class="home-section trending-section">
    <h2>Trending</h2>
    <div class="home-container trending-container">
      <a href="/games/9" class="game-card trending-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="/games/9" class="game-card trending-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="/games/9" class="game-card trending-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="/games/9" class="game-card trending-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="/games/9" class="game-card trending-card">
        <h3>Pokemon FireRed</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
    </div>
  </div>

  <div class="home-section latest-section">
    <h2>Newly Added</h2>
    <div class="home-container latest-container">
      <a href="#" class="game-card latest-card">
        <h3>The Legend of Zelda: Majora's Mask</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="#" class="game-card latest-card">
        <h3>The Legend of Zelda: Ocarina of Time</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="#" class="game-card latest-card">
        <h3>The Legend of Zelda: Twilight Princess</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="#" class="game-card latest-card">
        <h3>The Legend of Zelda: A Link to the Past</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
      <a href="#" class="game-card latest-card">
        <h3>The Legend of Zelda: Oracle of Ages</h3>
        <img src="https://picsum.photos/200/200" alt="cover-photo" />
        <p class="star-rating">★★★★☆</p>
      </a>
    </div>
  </div>

  <% if (user && NODE_ENV.includes('dev')) { %>
      <details open>
        <summary>User Info (Development Only)</summary>
        <pre><%= JSON.stringify(user, null, 2) %></pre>
      </details>
  <% } %>
</main>

<%- include('partials/footer') %>
