<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Permanent+Marker&family=Special+Elite&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/fav.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <%- renderStyles() %>
    <% if (NODE_ENV.includes('dev')) { %>
      <script>
        const host = window.location.hostname;
        const currentPort = window.location.port;

        const wsPort = currentPort ? (parseInt(currentPort) + 1) : 3001;

        const ws = new WebSocket(`ws://${host}:${wsPort}`);
        ws.onclose = () => {
          setTimeout(() => location.reload(), 2000);
        };
      </script>
    <% } %>
  </head>
  <body>
    <header>
      <a href="/">
        <img class="logo-image" src="/images/logo.png" alt="Oasis Games" />
      </a>
      <div class="search-container">
        <input
          type="text"
          id="searchInput"
          placeholder="Search games..."
          autocomplete="off"
        />
        <div id="searchResults"></div>
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>

        <% if (user && user.role_name === "admin") { %>
          <a href="#">Add Game</a>
        <% } %>

        <% if (user) { %>
          <a href="/account">Account</a>
          <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/register">Register</a>
          <a href="/login">Log In</a>
        <% } %>
      </nav>
    </header>