<%- include('../partials/header') %>

<main class="error-page">
  <h1>404: Not Found</h1>
  <img src="images/404.png" alt="Ironically the 404 photo could not be found" />
  <p>This is not the page you are looking for...</p>
  <p>Return to the <a href="/">homepage</a> to continue.</p>
</main>

<%- include('../partials/footer') %>
