<%- include('../partials/header') %>

<main>
  <h1>404: Not Found</h1>
  <p>This is not the page you are looking for...</p>
  <p>Return to the <a href="/">homepage</a> to continue.</p>
</main>

<%- include('../partials/footer') %>
