<%- include('../partials/header') %>

<main class="error-page">
  <h1>An Internal Error Occurred</h1>
  <pre><%= message %></pre>
  <a href="/">&larr; Return to safety</a>
  <% if (NODE_ENV.includes('dev')) { %>
    <details open>
      <summary>Error Details (Development Only)</summary>
      <pre><%= stack %></pre>
    </details>
  <% } %>
</main>

<%- include('../partials/footer') %>
