<%- include('../../partials/header') %>

<main>
  <h1>Log In</h1>
  <form action="/login" method="POST" id="login-form">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
    <button type="submit">Log In</button>
  </form>
</main>

<%- include('../../partials/footer') %>
